* {
    margin:0%;
    padding: 0%;
    box-sizing:border-box;
}
.container {
    background-color:#0020F4 ;
    max-width: 1920px;
    width: 100%;
    max-height: 387.56;
    margin: 0 auto;
    height: 100%;
    font-size: 16px;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 205px 0px 240px;
    
}
.logo{
    max-width: 115px;

}
.nav-bar-list {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    list-style: none;
}
.nav-bar-li a {
font-size: 16px;
color: #FFFFFF;
padding-left: 42px;
text-decoration: none;
}
.li-last-item {
background-color: #FFFFFF;
border-radius: 28px;
}
.main-project{
    margin-top: -10px;
}
section{
    max-width: 1195px;
    width: 100%;
    margin: auto;
}
.question {
    font-size: 28px;
}
.text {
    font-size: 16px;
}
